<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        height: 4000px;
      }
      img {
        vertical-align: top;
      }
      .box {
        border: 1px solid black;
        position: fixed;
        right: 100px;
        bottom: 100px;
      }
    </style>
  </head>
  <body>
    <div class="box">
      <img src="http://placehold.co/100x120" alt="" />
    </div>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam dolore
      enim optio, atque ipsum sint rem odio. Doloribus vero delectus officia
      deserunt iure facilis accusamus officiis, cupiditate eum est sunt placeat
      consequatur eligendi itaque. Cupiditate dolore laudantium aut accusamus
      praesentium magnam quos iste, fugiat rem qui eum distinctio repellat illum
      quas? Nobis hic quas repellendus explicabo est eaque molestias deserunt
      nulla optio obcaecati, eos voluptatum, in iste perspiciatis quidem vitae
      fugit rerum voluptas dolorem expedita suscipit maxime, repellat veniam?
      Dolorem sapiente laborum ea quos voluptatibus autem magni quas error
      nesciunt eos omnis non qui molestias sed, quam earum, dolor quasi numquam?
      Maxime id nisi neque esse quis modi odit quibusdam fugiat libero,
      reiciendis ipsam! Est officia harum, amet ea incidunt distinctio voluptas
      voluptatum neque eum nulla corporis, similique nobis reprehenderit, sed
      magnam rerum dicta! Quae culpa pariatur a similique architecto minus
      nesciunt earum aliquid provident in natus delectus saepe, exercitationem
      sint eos modi ab! Aliquid dicta, culpa odit, laudantium maiores aut
      voluptates beatae, voluptatibus aperiam rem numquam quod explicabo. Harum,
      necessitatibus. Vero rem laboriosam accusantium distinctio aperiam quam
      doloremque cupiditate pariatur facere corporis nihil quia, possimus a amet
      hic quae, consequuntur dolor culpa! Adipisci eius quas culpa ducimus,
      reprehenderit ullam saepe, aliquid dicta veniam quod quia voluptate
      facilis voluptatum quaerat ipsa expedita reiciendis repudiandae minus. Eum
      architecto dolor harum, id officiis placeat, et nulla vel nobis, ipsum
      dolores voluptatibus aperiam delectus est dignissimos aliquam accusantium
      quasi praesentium mollitia sunt! Blanditiis dolore expedita sint! Est
      sequi autem ex dolorem! Laudantium voluptatum rem dolorem possimus beatae
      placeat. Accusantium architecto hic repellendus itaque numquam mollitia
      culpa, dolor animi, suscipit quibusdam neque fuga at iusto est similique
      quod ex id distinctio! Eum ipsam iure et quis rerum fuga ipsum? Atque,
      suscipit aspernatur laboriosam aut doloremque blanditiis, pariatur quasi
      dignissimos, facilis possimus asperiores. Facere corrupti nobis temporibus
      fugit totam alias consequuntur iure excepturi cumque placeat error
      explicabo accusamus, hic obcaecati rerum assumenda quaerat quia sed
      voluptatum ut itaque similique sit optio velit. Quis eveniet quidem
      laborum est fugit. Hic, tenetur quae cum nobis odit repellat. Commodi
      doloremque aut ullam natus perspiciatis, tenetur quis velit numquam eius,
      expedita accusamus debitis quisquam perferendis quaerat alias sunt
      doloribus rerum illo dignissimos harum? Pariatur temporibus dolores
      voluptatum laboriosam! Tempore natus perspiciatis excepturi eligendi
      soluta esse, molestias aspernatur recusandae ducimus nemo tempora porro,
      optio nostrum quae voluptate voluptatum veniam expedita odit perferendis,
      impedit error? Ex quidem natus enim rerum laborum illo mollitia architecto
      debitis ad eius deleniti iure totam sint quas atque quae voluptatibus,
      aspernatur velit voluptatum suscipit corrupti. Vero, et! Ex perspiciatis
      rem quos eos doloremque officiis voluptates, voluptate facere dolore
      possimus sint error sit soluta? Error neque corrupti voluptatibus nemo
      ipsa cumque. Saepe esse quae fugit consectetur fugiat explicabo ex et ab
      aut impedit alias itaque dolorem magnam distinctio, similique autem
      ratione tempora repudiandae facere quasi? Sint sed natus doloremque
      numquam placeat ipsa tempore tenetur quo? Obcaecati a impedit labore velit
      voluptate fugit expedita maxime fuga laborum? Ex nisi illo suscipit
      dignissimos eveniet sapiente repellat delectus, distinctio labore!
    </p>
  </body>
</html>
